[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
sqlalchemy = "*"
python-dotenv = "*"
pandas = "*"
pymysql = "*"
flask-bcrypt = "*"
flask-login = "*"
streamlit = "*"
plotly = "*"
flask-jwt-extended = "*"
flask-limiter = "*"
flask-talisman = "*"
flask-cors = "*"
pyjwt = "==1.7.1"
markupsafe = "==2.0.1"
jinja2 = "==3.1.2"
itsdangerous = "==2.0.1"
werkzeug = "==2.0.3"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
