<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vervotech Data Overview</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <script>
      async function fetchLiveUpdates() {
        try {
          const response = await fetch("/live_updates");
          const data = await response.json();

          if (response.ok) {
            document.getElementById("total-done").innerText = data.count;
            document.getElementById("last-update").innerText =
              data.last_update || "N/A";
          } else {
            console.error("Error fetching live updates:", data.error);
          }
        } catch (error) {
          console.error("Error fetching live updates:", error);
        }
      }

      setInterval(fetchLiveUpdates, 1200000);

      setInterval(() => {
        location.reload();
      }, 1200000);  
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Latest Record from Database</h1>
      <h2>Content update vervotech table ---- Live Updates</h2>
      <table border="2">
        <thead>
          <tr>
            <th>TotalDone</th>
            <th>LastUpdate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="total-done">{{ live_updates.count }}</td>
            <td id="last-update">{{ live_updates.last_update }}</td>
          </tr>
        </tbody>
      </table>

      <h2>Vervotech New Data</h2>
      <table border="1">
        <thead>
          <tr>
            <th>Total</th>
            <th>New</th>
            <th>Processing</th>
            <th>UpdateSuccess</th>
            <th>SkippingData</th>
            <th>LastUpdate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ latest_record.vh_new_total }}</td>
            <td>{{ latest_record.vh_new_newFile }}</td>
            <td>
              {% if latest_record.vh_new_newFile_updateSuccess == 0 and latest_record.vh_new_newFile_updateSkipping == 0 %}
                  {{ latest_record.vh_new_newFile }}
              {% else %}
                  0
              {% endif %}
            </td>
            <td>{{ latest_record.vh_new_newFile_updateSuccess }}</td>
            <td>{{ latest_record.vh_new_newFile_updateSkipping }}</td>
            <td>{{ latest_record.vh_new_newFile_lastUpdate_dateTime }}</td>
          </tr>
        </tbody>
      </table>

      <h2>Vervotech Update Data</h2>
      <table border="1">
        <thead>
            <tr>
                <th>Total</th>
                <th>UpdateNew</th>
                <th>Processing</th>
                <th>UpdateSuccess</th>
                <th>SkippingData</th>
                <th>LastUpdate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ latest_record.vh_update_total }}</td>
                <td>{{ latest_record.vh_update_newFile }}</td>
                <td>
                  {% if latest_record.vh_update_newFile_updateSuccess == 0 and latest_record.vh_update_newFile_updateSkipping == 0 %}
                      {{ latest_record.vh_update_newFile }}
                  {% else %}
                      0 
                  {% endif %}
                </td>
                <td>{{ latest_record.vh_update_newFile_updateSuccess }}</td>
                <td>{{ latest_record.vh_update_newFile_updateSkipping }}</td>
                <td>{{ latest_record.vh_update_newFile_lastUpdate_dateTime }}</td>
            </tr>
        </tbody>
    </table>

      <h2>Vervotech Mapping</h2>
      <table border="1">
        <thead>
          <tr>
            <th>Total</th>
            <th>NewData</th>
            <th>UpdateData</th>
            <th>LastUpdate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ latest_record.vh_mapping_total }}</td>
            <td>{{ latest_record.vh_mapping_newFile }}</td>
            <td>{% set total_update_success = latest_record.vh_update_newFile_updateSuccess + latest_record.vh_new_newFile_updateSuccess %}
              {% if total_update_success - latest_record.vh_mapping_newFile < 0 %}
                  {{ latest_record.vh_new_newFile_updateSuccess }}
              {% else %}
                  {{ total_update_success - latest_record.vh_mapping_newFile }}
              {% endif %}
            </td>
            <td>{{ latest_record.ModifiedOn }}</td>
          </tr>
        </tbody>
      </table>

    <h2>Supplier Wise New and Updated Count--- by date - {{ latest_record.vh_new_newFile_lastUpdate_dateTime }}</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Provider Family</th>
                <th>New Data</th>
                <th>Update Data</th>
            </tr>
        </thead>
        <tbody>
            {% for row in group_data %}
            <tr>
                <td>{{ row.ProviderFamily }}</td>
                <td>{{ row.value_count_new }}</td>
                <td>{{ row.value_count_update }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    </div>
  </body>
</html>
